<h2>Change Password</h2>
<%= flash[:errors].join("<br>").html_safe if flash[:errors].present? %>
<%= form_for :user, :url => "/api/change_password/#{params[:reset_token]}", :html => {:method => :put} do |f| %>
New Password: <%= f.password_field :password %><br>
Confirm Password: <%= f.password_field :password_confirmation %>
<br><br>
<%= f.submit "Change Password" %>
<% end %>